!!! 5
html(lang="en")
 head
  title= "phoneTag"
  body
   h1.
    Jade - node template engine
   if player
    h3.
     Welcome #{player.name}
   else
    a(href="/auth/facebook").
     Login with Facebook
