<section id='game' class='page center'>
  <header class='header'>
    <a class='home' href='#home'>Quit</a>
    <h1>Map</h1>
    <a class='inventory' href='#inventory'>Inventory</a>
  </header>
  <section class='content'>
    <section id='map-canvas' style='width: 100%; height:32em'></section>
    <button class='tag'>Tag</button>
  </section>
</section>

<section id='inventory' class='page right'>
  <header class='header'>
    <h1>Inventory</h1>
    <a class='game' href='#game'>Back</a>
  </header>
  <section class='content'>
    <ul>
      <li>Invisibility</li>
      <li>Invincibility</li>
      <li>Bombs</li>
      <li>Ken</li>
    </ul>
  </section>
</section>
