<section id='loadMap' class='page center'>
  <header class='header'>
    <h1>Loading Game</h1>
  </header>
</section>

<section id='game' class='page right'>
  <header class='header'>
    <a class='quit' href='#'>Quit</a>
    <h1>Map</h1>
    <a class='inventory' href='#inventory'>Inventory</a>
  </header>
  <section class='content'>
    <button class='tag'>Tag</button>
  </section>
</section>

<section id='inventory' class='page right'>
  <header class='header'>
    <h1>Inventory</h1>
    <a class='game' href='#'>Back</a>
  </header>
  <section class='content'>
    <ul>
      <li>Invisibility</li>
      <li>Invincibility</li>
      <li>Bombs</li>
      <li>Ken</li>
    </ul>
  </section>
</section>

<section class='modal closed'>
  <h1>Search Controls</h1>
  <button class="toggleModal">X</button>
  <button class="centerMap"><img src='../styles/images/map-center.png'></button>
  <button class='zoomOut' href="#">-</button>
  <button class='zoomIn' href="#">+</button>
</section>
