<section id='home' class='page center'>
  <header class='header'>
    <a class='logout' href='#'>Logout</a>
    <h1>Home</h1>
  </header>
  <section class='content'>
    <h3>Welcome!</h3>
    <p><a class='game' href='#'>Join</a></p>
    <p><a class='leaderboard' href='#leaderboard'>Leaderboard</a></p>
  </section>
</section>

<section id='leaderboard' class='page right'>
  <header class='header'>
    <h1>Leaderboard</h1>
    <a class='home' href='#'>Back</a>
    <a class='logout' href='#'>Logout</a>
  </header>
  <section class='content'>
    <p>Some data should be here</p>
  </section>
</section>
