// --------------------------------------------
// color definitions

$color_light_blue = #7FC7AF
$color_deep_red = #C9001B
$color_placeholder_text = #666

// --------------------------------------------
// universal styles

body
  margin: 0
  padding: 0
  font-family: 'Sans Serif'
  font-size: 20px
  background-color: black
  color: white
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

input[type='text']
  width: 80%
  font-size: 1.5em
  display: block
  margin: auto
  padding: 0.5em
  color: black
  background-color: $color_light_blue
  border: 0
  border-radius: 8px

.hidden
  display: none

// NOTE: These placeholder text styles won't work if combined into 1 multi-selector
// Reference Source:
//   http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css
::-webkit-input-placeholder
  color: $color_placeholder_text
:-moz-placeholder
  color: $color_placeholder_text
::-moz-placeholder
  color: $color_placeholder_text
:-ms-input-placeholder
  color: $color_placeholder_text

#container
  position: absolute
  width: 100%
  height: 100%
  text-align: center
  overflow: hidden

a
  color: $color_light_blue
  text-decoration: none
  font-weight: bold

button
  font-size: 2em
  color: black
  background-color: $color_light_blue
  border: 0
  border-radius: 8px
  padding: 0.5em
  margin: 0.5em

h1
  font-weight: 400
  font-size: 2.5em

table
  margin: auto

// ----------------------------------------
// screen transitions

transform(n)
  -webkit-transform: n
  -moz-transform: n
  -ms-transform: n
  -o-transform: n
  transform: n

transition-duration(n)
  -webkit-transition-duration: n
  -moz-transition-duration: n
  -o-transition-duration: n
  transition-duration: n

.page
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  transform(translate3d(0, 0, 0))

.page.left
  transform(translate3d(-100%, 0, 0))

.page.center
  transform(translate3d(0, 0, 0))

.page.right
  transform(translate3d(100%, 0, 0))

.page.transition
  transition-duration(0.25s)

// --------------------------------------------
// map

.modal
  height: 50%
  width: 100%
  position: absolute
  top: 0
  z-index: 11
  background-color: black
  transition-property: all
  transition-duration: .5s
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1)

.modal.closed
  height: 0

#map-canvas
  position: absolute
  width: 100%
  height: 50%
