!!! 5
html(lang="en")
  head
   title= "phoneTag"
   script(src="/socket.io/lib/socket.io.js")
   script.
    var socket = io.connect('http://localhost:3000');
    socket.on('message', function(data){
      console.log(data.message);
    });
  body
   h1.
    Tag
   h3.
    Welcome #{user.name}
   a(href='/logout').
    Logout
