!!! 5
html(lang="en")
  head
    title= "phoneTag"
  body
<<<<<<< HEAD
   h1.
    Tag
   a(href="/auth/facebook" id="facebook").
    Login with Facebook
=======
    h1.
     This is PhoneTag
    a(href="/auth/facebook").
      Login with Facebook
>>>>>>> master
